<html>
    <head>
        <title>
            Sign Up
        </title>
        <link rel="stylesheet" type="text/css" href="sign-up.css">
        <body>
               
                   
            <div class = "loginbox">
                <img src = "https://www.atmegame.com/blog/images/users/avtar/avtar.png" class="avatar">
                <h1>Sign Up Here</h1>
                <form id="lala">
                    <p>Email Id</p>
                    <input type="text" id="check" name="" placeholder="Enter email id">
                    <p>Username</p>
                    <input type="text" name="" placeholder="Enter Username">
                    <p>Password</p>
                    <input type="password" id="current" name="" placeholder="Enter Password">
                    <p>Retype Password</p>
                    <input type="password" name="" id="retype" placeholder="Enter Password">
                    <div><input type="submit" name="" value="Sign Up"></form></div>
                  </form>
                </form>
            </div>
            <script src='check.js'></script>
        </body>
    </head>
</html>